html, body{
    font-size: 10px;
    height: 100%;
}
h1 {
    font-size: 200px;
}
.div{
    width: 10%;
    float: left;
}
#red {
    color:red;
}
#blue {
    color:blue;
}
#green {
    color:rgb(0,255,0)
}
