html, body{
    font-size: 10px;
    height: 100%;
}
body {
    font-size: 1.5rem;
}
#card{
    background-image: url("../img/colorless-basic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#nameText{
    position: absolute;
    left: 16rem;
    top: 2.5rem;
    font-size: 2.5rem;
    max-width: 21rem;
    overflow: hidden;
}
