body {
    background-image: url("../img/sky.jpg");

}
h1 {
    position: relative;
    left: 38%;
    font-size: 100px;
}
h2 {
    position: relative;
    left: 24%;
    font-size: 100px;
}
h3 {
    position: relative;
    left: 56%;
    font-size: 99px;
}
.angry {
    position: relative;
    left: 50%;
    transform: scale(0.5);
}
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}
.fixed:hover{
    position: fixed;
    top: 0;
    left: 0;
}